@page
@model WARazor.Pages.SaludoModel
@{
    ViewData["Title"] = "Saludo";
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-page-handler="ToggleText">
    <button type="submit" class="btn btn-primary">
        @(Model.TextoBoton)
    </button>
</form>

@if (Model.MostrarTexto)
{
    <div style="margin-top: 20px; padding: 10px; background-color: #f8f9fa; border-radius: 5px;">
        @Model.MensajeSaludo
    </div>
}

